.footer {
  .heading {
    padding: 0 var(--space-sm);
    color: var(--white);
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin: var(--space-lg) 0;
}
