.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--white);

  .header-nav {
    display: flex;
  }

  .bg-dark {
    background-color: var(--gray-10);
  }
}

.header-nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--gray-6);
  color: var(--white);
}
