.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--white);

  .header-nav {
    display: flex;
  }

  z-index: 2;
}

.header-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  right: 0;
}

.initial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--white);
}
