@use "../../styles/breakpoints.style" as breakpoint;

.hero-section-1 {
  height: 100vh;

  @include breakpoint.sm {
    height: 80vh;
  }
}

.hero-section-1-child {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 5vw;
  & .typo {
    color: var(--white);
  }
}
