@use "./color.style";
@use "./typography.style";
@use "./breakpoints.style" as breakpoints;
@use "./utils.style.scss";
@use "./spacing.style";
@use "./button.style";
@use "./layout.style";

:root {
  --shadow: 0px 0px 10px 10px var(--gray-1);
}

* {
  // border: 1px dashed black;
  box-sizing: border-box;
  margin: 0;
}

// div {
//   padding: var(--component-padding);
// }

.container {
  margin-left: auto;
  margin-right: auto;

  @include breakpoints.sm {
    width: 300px;
  }
  @include breakpoints.md {
    width: 720px;
  }
  @include breakpoints.lg {
    width: 900px;
  }
  @include breakpoints.xl {
    width: 1024px;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

// colors
.imageCard {
  background-color: var(--white);
}

.spacer-hr {
  border-top: 1px solid var(--color-border);
}
