.inline {
  display: inline;
}

.truncate {
  // truncate text if it exceeds parent
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.is-row-reverse {
  flex-direction: row-reverse;
}

.is-column-reverse {
  flex-direction: column-reverse;
}

.default-padding {
  padding: var(--component-padding);
}
