@use "../../styles/breakpoints.style" as breakpoint;

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slick-track {
  display: flex;
  align-items: center;
}

@include breakpoint.sm {
  .slick-slider > .btn {
    display: none;
  }
}
