@use "../../styles/breakpoints.style" as breakpoint;

@mixin textBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.SideBySide {
  @include textBox;

  display: flex;
  flex-direction: column;
  margin: 0 0 var(--space-md) 0;

  &--reverse {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 var(--space-md) 0;
    @include textBox;
  }
}

@include breakpoint.rwd(760) {
  .SideBySide {
    flex-direction: row;

    &--reverse {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
